// media queries

// colour
$col-white		: #ffffff;
$col-black		: #000000;
$col-lightgrey	: #EDEDED;
$col-darkgrey	: #4A4A4A;
$col-brand1		: #FABB25; //YELLOW
$col-brand2		: #EC6622; //ORANGE
$col-brand3		: #D61D28; //RED


$col-callout	: $col-brand3; //RED
$col-cta		: $col-brand2; //ORANGE


.box__shadow
{
}